.header-dropdown {
  position: relative;
}

.categories-button {
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  margin-top: 0.25em;
  border: none;
  font-size: 20px;
}

.categories-button:hover {
  cursor: pointer;
}

.header-dropdown ul {
  background-color: #7297a3;
  color: white;
  display: none;
  list-style: none;
  /* border: black solid 1px; */
}

.header-dropdown li {
  padding: 0.25em 0.5em;
}

.header-dropdown a {
  color: rgb(0, 0, 0);
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.header-dropdown li:hover {
  background: lightgray;
}

.header-dropdown:hover ul {
  display: block;
  position: absolute;
  min-width: 8em;
  z-index: 1;
  cursor: pointer;
}
