.body-bg-img {
  background-image: url("/images/site/bg1.png");
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
}

.homepage-info {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: bold;
  display: grid;
  color: black;
  justify-content: center;
  padding: 10px;
}

.homepage-info > div {
  font-size: 50px;
}

.homepage-info > p {
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.home-img-container {
  display: flex;
  height: 400px;
  /* width: 1200px; */
  align-items: center;
  justify-content: space-around;
  /* background-color: #7297A3; */
  padding: 10px;
}

.shop-button {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  border-radius: 1rem;
}

.shop-button a {
  text-decoration: none;
  color: black;
  border-radius: 1rem;
}

.shop-button button {
  width: 200px;
  height: 52px;
  background: #7297a3;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: bold;
  transition: background-color 0.3s;
  border-radius: 1rem;
}

.shop-button :hover {
  cursor: pointer;
  background-color: rgb(114, 253, 195);
  color: black;
}
